* {
    margin: 0;
}

#container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: 
    'hd hd hd hd hd hd'
    'ar2 ar2 ar2 ar3 as as'
    'ar2 ar2 ar2 ar3 as as'
    'ar2 ar2 ar2 ar3 as as'
    'ar2 ar2 ar2 ar3 lig lig'
    'ar2 ar2 ar2 ar3 lig lig'
    'ar4 ar4 ar4 ar4 ar4 ar4'
    'fo fo fo fo fo fo';
    grid-gap: 5px;

}

#upperinnergrid {
    padding: 10px;
    grid-area: hd;
    background-color: lightpink;
    display: grid;
    grid-gap: 5px;
    grid-template-areas: 
    'iig';
}

#upperinnerinnergrid {
    padding:5px;
    background-color: lavender;
    display: grid;
    grid-template-columns: 4fr 1fr 2fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    grid-area: iig;
    grid-template-areas: 
    'ia id in';
}

#article1 {
    background-color: lightskyblue;
    grid-area: ia;
}

#div1 {
    background-color: plum;
    grid-area: id;
}

nav {
    background-color: tomato;
    grid-area: in;
}

#article2 {
    grid-area: ar2;
    background-color: palevioletred;
}

#article3 {
    grid-area: ar3;
    background-color: hotpink;
}

aside {
    grid-area: as;
    background-color: lightblue;
}

#lowerinnergrid {
    display: grid;
    grid-area: lig;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
}

.innergrid {
    background-color: darkkhaki;
}

#lowerinnerinnergrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
}

.innerinnergrid {
    background-color: slategray;
}

#article4 {
    grid-area: ar4;
    background-color: rgb(18, 141, 172);
}

footer {
    grid-area: fo;
    background-color: rgb(161, 40, 141);
}

p {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}